.tomorrow-avatar {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.tomorrow-avatar-unline {
    filter: grayscale(1);
}

.tomorrow-admin-icon {
    background-image: url(../images/admin.jpg);
}

.tomorrow-default-head-icon {
    background-image: url(../images/default-head.jpg);
}

.tomorrow-boy-1-icon {
    background-image: url(../images/boy-1.jpg);
}

.tomorrow-boy-2-icon {
    background-image: url(../images/boy-2.jpg);
}

.tomorrow-boy-3-icon {
    background-image: url(../images/boy-3.jpg);
}

.tomorrow-boy-4-icon {
    background-image: url(../images/boy-4.jpg);
}

.tomorrow-boy-5-icon {
    background-image: url(../images/boy-5.jpg);
}

.tomorrow-boy-6-icon {
    background-image: url(../images/boy-6.jpg);
}

.tomorrow-girl-1-icon {
    background-image: url(../images/girl-1.jpg);
}

.tomorrow-girl-2-icon {
    background-image: url(../images/girl-2.jpg);
}

.tomorrow-girl-3-icon {
    background-image: url(../images/girl-3.jpg);
}

.tomorrow-girl-4-icon {
    background-image: url(../images/girl-4.jpg);
}

.tomorrow-girl-5-icon {
    background-image: url(../images/girl-5.jpg);
}

.tomorrow-girl-6-icon {
    background-image: url(../images/girl-6.jpg);
}